@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  text-align: start;
}

html[lang="ar"] body {
  font-family:
    var(--font-noto-sans-arabic), var(--font-geist-sans), Arial, Helvetica,
    sans-serif;
}

input,
textarea,
button,
select {
  text-align: start;
}

html[dir="rtl"] input[type="email"],
html[dir="rtl"] input[type="password"] {
  direction: ltr;
}
